
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8ff;
}
.card-section{
    text-align: center;
}
 h1{
    color: #1d1b31;
    background-color: #f4f8ff;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;

    font-weight: bold;
    text-transform: uppercase;
}

.case-details-card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    overflow: hidden;
}


.card-title {
    text-align: start;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: justify;
}

.info-item {
    width: 48%;
}

.info-item strong {
    display: block;
    font-weight: bold;
    color: #555;
}

.info-item p {
    margin: 5px 0;
    color: #333;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-footer .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-edit {
    background-color: #ff9800;
    color: white;
}

.btn-edit:hover {
    background-color: #ffb444;
}

.btn-delete {
    background-color: #1d1b31;
    color: white;
}

.btn-delete:hover {
    background-color: #e53835b4;
}

/* Responsive Design */
@media (max-width: 768px) {
    .info-row {
        flex-direction: column;
    }

    .info-item {
        width: 100%;
        margin-bottom: 10px;
    }
}