.parent-container { /* Replace with the actual class of the parent container */
    display: flex;
    flex-direction: column;
  }
  
  .card-container {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;

  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card .icon {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .card p {
    margin-top: 5px;
    color: #888;
    font-size: 17px;
    font-weight: 500;
  }
  
  /* Specific Card Backgrounds */
  .white-card {
    background-color: #ffffff;
    color: #333;
  }
  
  .blue-card {
    background-color: #e5edfd;
    color: #101010;
  }
  
  .dark-card {
    background-color: #1a1b2f;
    color: #ffffff;
  }

  .green {
    color: #50CD89;
  }

  .purple {
    color: #a97efe;
  }