
.practice-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eaf1fd;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; /* Added font-family for consistency */
}

header {
    text-align: center;
    margin-bottom: 30px; /* Increased spacing */
}

.practice li i {
    color: #0d131a; /* Customize the icon color */
    margin-right: 8px; /* Space between icon and text */
    font-size: 30px;
}


header h1 {
    font-size: 32px; /* Increased font size */
    color: #2e2d35;
    margin-bottom: 10px; /* Added margin */
}

header p {
    font-size: 18px; /* Adjusted font size */
    color: #555; /* Slightly lighter color */
    line-height: 1.6; /* Improved line spacing */
}

section {
    margin-bottom: 30px; /* Increased spacing */
}

h2 {
    font-size: 28px; /* Increased font size for headings */
    color: #2e2d35;
    margin-bottom: 15px; /* Added margin */
    border-bottom: 2px solid #2e2d35; /* Underline for emphasis */
    padding-bottom: 5px; /* Padding for space */
}

.practice-container ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove padding */
}

.practice-container li {
    background: #eaf1fe; /* Light background for list items */
    margin: 10px 0; /* Margin between list items */
    padding: 10px; /* Padding inside list items */
    border-radius: 5px; /* Rounded corners */
}


