* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homework-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.homework-container h1 {
    margin-bottom: 10px;
}

.homework-card {
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homework {

    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.label {
    color: rgb(27, 27, 103);
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.due {
    color: red;
    font-size: 13px;
}

form {

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="submit"],
select {

    height: 35px;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid 1px rgb(220, 220, 220);
}

textarea {
    height: 50px;
    padding: 5px 5px;
    border: solid 1px rgb(220, 220, 220);
}

input[type="submit"] {
    background-color: rgb(17, 17, 86);
    color: white;
}

.error {
    color: red;
    margin-bottom: 2px;
}