* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
}


/* Header Section */
.header {
    color: #ffffff;
    background-color: rgb(29, 27, 49);
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}


/* Table Container */
.table-container {
    max-width: 95%;
    margin: 30px auto;
    overflow-x: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

/* Table Styling */
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #1d1b31;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody tr td a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
}

table tbody tr td a:hover {
    text-decoration: underline;
}

/* No Data Found Styling */
table tbody tr td[colspan] {
    text-align: center;
    font-style: italic;
    color: #777;
}
.more {
    color: white;            
    border: none;              
    border-radius: 5px;      
    padding: 5px 10px;       
    font-size: 15px;           
    cursor: pointer;          
    transition: background-color 0.3s ease; 
    display: flex;            
    align-items: center;     
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #fa9800;
}
.more:hover{
    background-color: #9392a3;
}
/* Responsive Design */
@media (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    table th,
    table td {
        font-size: 0.9rem;
        padding: 8px;
    }
}
