.chat {
    display: flex;
}

#inner_left_panel {
    background-color: white;
    flex: 1;
    min-height: 110vh;
    border-right: 0.5px solid rgb(214, 214, 214);
}

#inner_right_panel {
    background-color: white;
    flex: 3;
    min-height: 110vh;
}