.chat {
    display: flex;
}

#inner_left_panel {
    background-color: white;
    flex: 1;
    min-height: 110vh;
    border-right: 0.5px solid rgb(214, 214, 214);
}

#inner_right_panel {
    background-color: white;
    flex: 3;
    min-height: 110vh;
}

#addButton {
    font-size: 20px;
    color: #a8a8a9;
    cursor: pointer;
    align-self: right;
    margin-top: 5px;
    margin-right: 5px;
}

.chat h4 {
    font-weight: 500;
    text-align: center;
}



.icon {
    display: flex; /* Enable flexbox */
    justify-content: flex-end; /* Push content to the right */
    align-items: center; /* Center the content vertically */
    padding: 5px; /* Optional: Add padding for spacing */
}

#newComponent {
    padding: 10px;
    /* flex: 1; */
    background-color: #ffffff;
    /* height: 110vh; */
}

#contact h5 {
    
    font-weight: 500;
    color: rgb(48, 47, 47);
}