/* small navigation bar */
.small-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2e2b4b;
    display: flex;
    justify-content: center;    
}

.small-navbar li {
    margin: 0 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-navbar a {
    font-size: 14.5px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.small-navbar li a:hover{
    color: #1d1b31;
}

.small-navbar li a:active {
    font-weight: bold;
}


/* screen sizes lower than 1075px*/
@media (max-width: 1075px){
    
     .small-navbar a{
        font-size: 13px;
    }

}
/* screen sizes lower than 936px*/
@media (max-width: 936px){
    
    .small-navbar a{
        text-align: center;
        font-size: 12px;
        padding: 10px 6px 0 10px;
    }
    
}
/* screen sizes lower than 768 px.phones and tablets*/
@media (max-width: 768px){

   
    .small-navbar{
        display: flex;
        flex-direction: column;
    }
    .small-navbar a{
        font-size: 13px;
    }

    
}
